#header{background:url("http://4.bp.blogspot.com/-LidoSj8LqaQ/T-AloCDzCDI/AAAAAAAAAUI/0YLZ3fCStB0/s1600/blog_background_template_004b.jpg")}

.mainmenuwrapper{
    color:#711b79;
    font-size:11pt;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    background: url("http://i41.tinypic.com/2lx6wrd.jpg") no-repeat scroll left top (63, 38, 70);

.chat-log 
{
    font-size:10pt;
    background: url("http://i43.tinypic.com/2dtsmd1.jpg") no-repeat scroll center;
    background:#ffffff;
    color:#000;
    overflow:auto
}

.userlist {
border-left: 1px solid #0000ff;
background: #d4d4ec;
}
.userlist li
{
        border-bottom:1px solid #0000ff;
        height:19px;
        font:10pt Verdana,sans-serif;
        white-space:nowrap
}
.userlist li em.group
{
        font-style:normal;
        font-size:8pt;
        color:#000000;
        display:block;
        float:left;
        text-align:center;
        padding:1px 0 0 1px;
        width:14px
}

.menugroup .button:hover{
    background:#000000  none repeat scroll 0 0;
    opacity:.7;
}

.menugroup .button{
    background:#000000  none repeat scroll 0 0;
    opacity:.9;
}
}
